# 🔹 Виртуальное окружение
.venv/
venv/

# 🔹 Переменные окружения
.env

# 🔹 Кэш и временные файлы Python
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# 🔹 Логи
logs/
*.log

# 🔹 Файлы pip
pip-log.txt
pip-delete-this-directory.txt

# 🔹 IDE и редакторы
.vscode/
.idea/
*.iml

# 🔹 Docker
docker-compose.override.yml
*.pid

# 🔹 Базы данных и дампы
*.sql
*.sql.gz
*.dump
mysql_data/

# 🔹 Миграции Alembic (оставь только если хочешь хранить все)
alembic/versions/*.pyc

# 🔹 Архивы и временные файлы
*.zip
*.tar.gz
*.rar
.DS_Store
